#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* carousel component */

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-items: ; */
}
.Carousel-image {
  object-fit: cover;
  width: 800px;
  height: 550px;
  padding: 100px;
}

.carousel-btn {
  height: 64px;
  width: 128px;
  padding: 1rem;
  margin: auto 0;
}


/* FAQ component */

.faq-table {
  padding: 30px;
  border-radius: 45px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid rgb(197, 184, 184)
}


.faq-q-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}

.faq-a-hide {
  display: none;
}
.faq-div {
  padding: 20px 0;
}

.under {
  text-decoration: underline;
}

/* Quotes component */



.quote-data {
  padding: 2rem;
  border: 2px solid #646cffaa;
  border-radius: 45px;
}

.quote-button {
  margin-top: 24px;
}


/* Shopping list */


.shoppingList-con {
  width: 60%;
  margin: 0 auto;
}

.shoppingList-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.shoppingList-div > * {
  width: 100%;
}

.shoppingList-div > ol {
  padding:0;
}

.add-form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.add-btn {
  padding: 4px 8px;
}



.item-li {
  padding: 12px 0;
  border-bottom: 2px solid #646cffaa ;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.item-text {
  font-size: 2rem;
  color: #646cffaa;
  padding: 8px;
}

.item-btn {
  height: 50%;
  margin: auto 0;
  padding: 4px 8px;
}

/* Github search user component */

.form {
  display: flex;
  gap: calc(8px*12);
  justify-content: center;
  align-items: center;
}

.form-btn {
  padding: 1rem;
 
}

.form-text {
  padding: 1rem;
  min-width: 200px;
  max-width: 300px;
}

/* display users */

.users-div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.results-text {
  text-align: left;
}

.user-img {
  width: 100px;
  height: 100px;
}
.user-div {
  border: 1px solid #000;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.user-subdiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.user-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Video Viewer */

.videos-radio {
  display: flex;
  gap: 16px;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

.videos {
  width: 500px;
  height: 400px;
}